<!DOCTYPE html>
<html>
<head>
    <title>Lista de Animales</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Lista de Animales</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Especie</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animales %}
                <tr>
                    <td>{{ animal.nombre }}</td>
                    <td>{{ animal.especie }}</td>
                    <td>
                        <a href="/animal/editar/{{ animal.nombre }}">Editar</a>
                        <a href="/animal/eliminar/{{ animal.nombre }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <a href="/animal/crear">Agregar Animal</a>
</body>
</html>
